<ons-page ng-controller="StopSelectorCtrl as stopSel">
    <ons-toolbar>
        <div class="center">
            {{tr.etajimaSmartTicket}}
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="tr.setLang('ja')">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Flag_of_Japan.svg"
                    alt="">
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="tr.setLang('en')">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"
                    alt="">
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="height: 35%"></div>

    <ons-list modifier="inset">
        <ons-list-item modifier="longdivider tappable chevron"
            ng-click="stopSel.setFrom()">
            <div class="left">
                <ons-icon icon="map-marker"></ons-icon>
            </div>
            <div class="center">
                {{tr.stop.from}}
            </div>
            <div class="right">
                {{stopSel.direction.from.name || tr.stop.notSelected}}
            </div>
        </ons-list-item>

        <ons-list-item modifier="longdivider tappable chevron"
            ng-click="stopSel.setTo()">
            <div class="left">
                <ons-icon icon="directions"></ons-icon>
            </div>
            <div class="center">
                {{tr.stop.to}}
            </div>
            <div class="right">
                {{stopSel.direction.to.name || tr.stop.notSelected}}
            </div>
        </ons-list-item>
    </ons-list>

    <ons-list modifier="inset">
        <ons-list-item modifier="longdivider">
            <div class="left">
                <ons-icon icon="male"></ons-icon>
            </div>
            <div class="center">
                {{tr.passenger.adults.prefix}}
            </div>
            <div class="right">
                <ons-input type="number" ng-model="stopSel.adults"></ons-input>
                {{tr.passenger.adults.suffix}}
            </div>
        </ons-list-item>

        <ons-list-item modifier="longdivider">
            <div class="left">
                <ons-icon icon="baby"></ons-icon>
            </div>
            <div class="center">
                {{tr.passenger.children.prefix}}
            </div>
            <div class="right">
                <ons-input type="number" ng-model="stopSel.children">
                </ons-input>
                {{tr.passenger.children.suffix}}
            </div>
        </ons-list-item>
    </ons-list>

    <ons-button modifier="large"
        ng-disabled="!stopSel.direction.from.stopName || !stopSel.direction.to.stopName"
        ng-click="stopSel.proceed()">
        {{tr.nav.next}}
    </ons-button>

    <ons-alert-dialog var="paymentConfirm">
        <div class="alert-dialog-title">
            {{tr.payment.fare}}
        </div>
        <div class="alert-dialog-content">
            <h4>
                {{stopSel.direction.from.name}} →
                {{stopSel.direction.to.name}}
            </h4>
            <h3>
                {{tr.passenger.adults.prefix}}
                {{stopSel.adults}}
                {{tr.passenger.adults.suffix}}
                &nbsp;
                {{tr.passenger.children.prefix}}
                {{stopSel.children}}
                {{tr.passenger.children.suffix}}
            </h3>
            <h1 ng-show="stopSel.amount">
                ￥{{stopSel.amount}}-
            </h1>
            <h1 ng-hide="stopSel.amount">
                {{tr.payment.calculating}}
            </h1>
        </div>
        <div class="alert-dialog-footer">
            <button class="alert-dialog-button" onclick="paymentConfirm.hide()">
                {{tr.nav.back}}
            </button>
            <button class="alert-dialog-button" ng-show="stopSel.amount"
                ng-click="stopSel.purchase()">
                <ons-icon icon="credit-card"></ons-icon> &nbsp;
                <b>{{tr.payment.proceed}}</b>
            </button>
        </div>
    </ons-alert-dialog>

    <ons-toast var="noRoutesToast">
        {{tr.payment.noRoute}}
    </ons-toast>

</ons-page>